.etf-card {
  background-color: #a9a9a9;
  padding: 1rem;
  min-height: 4rem;
}

.red {
  color: red;
}

.green {
  color: green;
}

/* 




.coin-percent {
  width: 80px;
}

.red {
  color: #f00606;
}

.green {
  color: #11d811;
} */
