/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 4.8rem;
}

h3 {
  font-size: 3rem;
  font-weight: normal;
}

h4,
h5 {
  font-size: 2.8rem;
}

li,
button,
label,
input p {
  font-size: 2rem;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background: white;
  border: none;
  color: #29b104;
  font-size: 1.8rem;
  cursor: pointer;
}

.main-head {
  background: #197901;
  color: white;
}

nav {
  min-height: 10vh;
  padding: 2rem;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.logo {
  flex: 2 1 40rem;
  font-family: 'Pattaya', sans-serif;
  font-weight: 400;
}

/* Media Queries */
@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }

  .logo {
    padding: 2rem;
  }
  .intro-text {
    padding: 10rem;
    animation: fruit 3s ease-in-out;
  }

  .intro-text p {
    font-size: 1rem;
  }
}

/* Hero Section */
.intro {
  display: flex;
  flex-wrap: wrap;
}

.intro img {
  width: 100%;
}

.intro-img {
  flex: 1 1 40rem;
}

.intro-text {
  flex: 1 1 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro-text p {
  font-size: 3rem;
  text-align: center;
}

#Person {
  animation: man 5s linear;
}

#Apple {
  animation: fruit 5s ease-in-out;
}

@keyframes man {
  from {
    transform: translateY(-15%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes fruit {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Info Section */
#info {
  min-height: 40vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url('./assets/news.svg');
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
}

.info-head {
  width: 90%;
  margin: auto;
}

.info-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
  color: white;
}

.info-head h3 {
  padding: 4rem 0rem;
  color: white;
}
/* Stock Search Form */

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input:focus {
  outline: none;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: cornflowerblue;
  border: none;
  padding: 10px 20px;
  color: white;
}

.stocks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
